#notifications-container {
    position: absolute;
    top: 20px;
    right: 40px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.notification {
    padding: 10px 20px;
    position: relative;
    display: none;
}

.inserted {
    background-color: greenyellow;
    color: darkgreen;
}

.deleted {
    background-color: orange;
    color: darkred;
}

.refreshed {
    background-color: lightskyblue;
    color: darkblue;
}

.edited {
    background-color: orchid;
    color: darkviolet;
}